<br> <br><br><br><br>

<h1 style=" background-color:yellow; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 40px; color: purple; text-align:center"> Product Inventory </h1>
<br><br><br><br><br>  
<p style="margin:20px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 20px; color: blue;"> This project is a small Angular app for Products Inventory. 
    Users can view the product lists,
  Customize the products list according to their choices without logging in. But in order to add, edit or delete
  any product users must have to login with their valid credentials. If the users are not having
  any valid credentials, they must need to register as a new user. In order view the product details users
  must be logged in. Users can also see the top viewed products in the Top Chart section. Provisions are 
  there to view top 3, top 5 and top 7 most viewed items. Users can also view their profile in the 
  Profile Section. <p>