<br> 
<div class="container">

      <h1 style="margin: 20px; color:purple">{{title}}</h1>
      
      <div class="col-md-3">
      <label style="color:maroon" for="filer">Search Product : </label>
      <input type='text' name="filter" [(ngModel)]='nameFilter'/> </div>
     

      <div class="col-md-3">
            <a class =" btn btn-primary text-white btn-primary" name="add" routerLink="add">Add New Product</a>
          </div>
          <div  class="col-md-3">
         <app-product-delete
         (finish)="deleteSelected($event)"> 
         </app-product-delete> </div>
      
    <div class="col-md-3">
      <button (click)="showMenu()" name="customize" class="btn btn-primary">Customize View</button>
    
          <br><br>
      <div *ngIf="!show" id="grpChkBox" class="card" style="width: 20rem;">
        <div class="card-header bg-dark text-white">Select the column you want to hide</div>
        <div class="card-body">

          <p><input type="checkbox" name="pname" (change)="name()" class="card-text"  /> Product Name</p>
        <p><input type="checkbox" name="pdesc" (change)="desc()" class="card-text"/> Description</p> 
        <p><input type="checkbox" name="pmanu" (change)="manu()" class="card-text" /> Manufacturer</p>
        <p><input type="checkbox" name="pprice" (change)="price()" class="card-text"/> Price</p>
        <p><input type="checkbox" name="pqty" (change)="qty()" class="card-text"/> Quantity</p> 
      </div>
      </div>
    </div>
 
      <br><br><br>


  <div class="card bg-light mb-3 border-primary " style="margin:2em; font-style: normal;" *ngFor='let product of products | searchFilter: nameFilter'>
    <div class="card-body text-secondary" >
      <div class="row align-items-start">
      
        <div class="col-sm-2">
        <input type="checkbox" name="chkbox" class="form-check-input circle"  (change)='addId(product.id)' > <br>
      </div>
      
        <div class="col-sm-6">
          
          <div *ngIf="pname" class="row header" >
            <h3 class="card-title ">{{ product.name }}</h3>
          </div>
          
          <div *ngIf="pdesc" class="row " style="margin-top: 5px">
            <p class="card-text container">
              <b>Product Description : </b>{{product.description}}<br>
            </p>
          </div>
          <div *ngIf="pmanu" class="row " style="margin-top: 5px">
            <p class="card-text container">
              <b> Product Manufacturer : </b>{{product.manufacturer}}<br>
            </p>
          </div>
          <div *ngIf="pprice" class="row ">
            <p class="card-text container" style="margin-top: 5px">
              <b> Product Price : </b> {{product.price}}<br>
            </p>
          </div>
          <div *ngIf="pqty" class="row ">
            <p class="card-text container" style="margin-top: 5px">
              <b>Product Quantity : </b>{{product.qty}}<br> 
            </p>
          </div>
          
  
        </div>
  

        <div class="col-sm-4">
          <br><br>
          <div class="row container">
           <button type="button" class="btn btn-warning" name="edit" [routerLink]="['edit/' + product.id]" >Edit</button><br>
          </div>
          <br>
          <div class="row container">
            <a class ="btn btn-sm text-white btn-primary" name="detail" [routerLink]="[product.id]">View Detail</a> <br>
          </div>
        </div>
      </div>
    </div>
  </div>

<br> <br>
</div>



  


