<br> 

<div class='panel panel-primary' style="margin-top: 40px;">
      <h1 style="margin: 20px; color:purple">{{title}}</h1>
      
      <div class="col-md-3">
      <label style="color:maroon" for="filer">Search Product : </label>
      <input type='text' name="filter" [(ngModel)]='nameFilter'/> </div>
     

      <div class="col-md-3">
            <a class =" btn btn-primary text-white btn-primary" name="add" routerLink="add">Add New Product</a>
          </div>
          <div  class="col-md-3">
         <app-product-delete
         (finish)="deleteSelected($event)"> 
         </app-product-delete> </div>
      
    <div class="col-md-3">
      <button (click)="showMenu()" name="customize" class="btn btn-primary">Customize View</button>
    
          <br><br>
      <div *ngIf="!show" id="grpChkBox" class="card" style="width: 20rem;">
        <div class="card-header bg-dark text-white">Select the column you want to hide</div>
        <div class="card-body">
        <!--<p><input type="checkbox" name="prdid" /> Product ID</p>-->
        <p><input type="checkbox" name="pname" (change)="name()" class="card-text"  /> Product Name</p>
        <p><input type="checkbox" name="pdesc" (change)="desc()" class="card-text"/> Description</p> 
        <p><input type="checkbox" name="pmanu" (change)="manu()" class="card-text" /> Manufacturer</p>
        <p><input type="checkbox" name="pprice" (change)="price()" class="card-text"/> Price</p>
        <p><input type="checkbox" name="pqty" (change)="qty()" class="card-text"/> Quantity</p> 
      </div>
      </div>
    </div>
 
      <br><br><br>
 
<div class='panel-body'>
  <table id="someTable" [border]="5"  class='table table-striped'>
  <thead>
      <tr>
          <!--<th class="prdid">Product ID</th>-->
          <th *ngIf="pname" class="pname">Product Name</th>
          <th *ngIf="pdesc" class="pdesc">Description</th>
          <th *ngIf="pmanu" class="pmanu">Manufacturer</th>
          <th *ngIf="pprice" class="pprice">Price</th>
          <th *ngIf="pqty" class="pqty">Quantity</th>
          <th>Edit Product</th>
          <th>View Detail</th>
          <th>Select to Delete</th>
          
      </tr>
  </thead>
  <tbody>
    <tr *ngFor='let product of products | searchFilter: nameFilter' >
      <!--<td class="prdid">{{product.id}}</td>-->
      <td *ngIf="pname" class="pname">{{product.name}}</td>
      <td *ngIf="pdesc" class="desc">{{product.description}}</td>
      <td *ngIf="pmanu" class="manu">{{product.manufacturer}}</td>
      <td *ngIf="pprice" class="price">{{product.price}}</td>
      <td *ngIf="pqty" class="qty">{{product.qty}}</td> 
      <td><button type="button" class="btn btn-warning" name="edit" [routerLink]="['edit/' + product.id]" >Edit</button></td>
      <td><a class ="btn btn-sm text-white btn-primary" name="detail" [routerLink]="[product.id]">View Detail</a></td>
      <td><input type="checkbox" name="chkbox" class="form-check-input circle"  (change)='addId(product.id)' ></td>
    </tr> 
  </tbody>
</table>

</div>
<br> <br>
</div>



  


