<div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 offset-sm-3">
                  <h2>Add New Product</h2>
                <form [formGroup]="addform" #formRef="ngForm" (ngSubmit)="onSubmit()">
                      <div class="row">
                         <div class="col-sm-6">
                            <div class="form-group">
                                  <label for="name" >Product Name</label>
                                  <input type="text" formControlName="name" name="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholer="Enter Product Name" />
                                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Name is a required field </div>
                                  </div>
                                  
                                  <div *ngIf="f.name.errors?.minlength" style="color:red">
                                    Name must be at least 3 characters long.
                                   </div>
                                  
                               </div>
                         </div> 
                        <div class="col-sm-6">
                            <div class="form-group">
                                  <label for="desc" >Product description</label>
                                  <input type="text" formControlName="desc" name="desc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.desc.errors }" placeholer="Enter Product Description" />
                                  <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
                                        <div *ngIf="f.desc.errors.required">Description Field is required</div>
                                  </div>

                                  <div *ngIf="f.desc.errors?.minlength" style="color:red">
                                    Description must be at least 10 characters long.
                                   </div>
                               </div>
                         </div> 
                         <div class="col-sm-6">
                            <div class="form-group">
                                  <label for="manu">Manufacturer</label>
                                  <input type="text" name="manu" formControlName="manuf" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.manuf.errors }" placeholer="Enter Product Manufacturer" />
                                  <div *ngIf="submitted && f.manuf.errors" class="invalid-feedback">
                                        <div *ngIf="f.manuf.errors.required">
                                              Manufacturer Field is required</div>
                                  </div>

                                  <div *ngIf="f.manuf.errors?.minlength" style="color:red">
                                    Manufacturer must be at least 5 characters long.
                                   </div>
                               </div>
                         </div> 
                        <div class="col-sm-6">
                            <div class="form-group">
                                  <label for="price">Price</label>
                                  <input type="number" name="price" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" placeholer="Enter Product Price" />
                                  <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                        <div *ngIf="f.price.errors.required" >
                                               Price Field is required</div>
                                  </div>

                                  
                               </div>
                         </div> 
                         
                         <div class="col-sm-6">
                            <div class="form-group">
                                  <label for="qty" >Quantity</label>
                                  <input type="number" name="qty" formControlName="qty" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.qty.errors }" placeholer="Enter Product Quantity"/>
                                  <div *ngIf="submitted && f.qty.errors" class="invalid-feedback">
                                        <div *ngIf="f.qty.errors.required">Quantity Field is required</div>
                                  </div>
                               </div>
                         </div> 
                        </div>
             <div class="col-sm-6 ">
             <button type="submit"  class="btn btn-primary"  >Submit</button>
             <!-- [disabled]="formRef.invalid" -->
             </div>
             <div class="col-sm-6 ">
             <button type="button" class="btn btn-dark"  (click) = "back()">Close</button>
            </div>
                </form>
      
      </div>
    </div>
  </div>
  </div>