<div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 offset-sm-3">
                  <h2>Add New Product</h2>
                <form [formGroup]="addform" #formRef="ngForm" (ngSubmit)="onSubmit()">
                      <div class="row">
                         <div class="col-sm-6">
                            <div class="form-group">
                                  <label>Product Name</label>
                                  <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Field is required</div>
                                  </div>
                               </div>
                         </div> 
                        <div class="col-sm-6">
                            <div class="form-group">
                                  <label>Product description</label>
                                  <input type="text" formControlName="desc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.desc.errors }" />
                                  <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
                                        <div *ngIf="f.desc.errors.required">Field is required</div>
                                  </div>
                               </div>
                         </div> 
                         <div class="col-sm-6">
                            <div class="form-group">
                                  <label>Manufacturer</label>
                                  <input type="text" formControlName="manuf" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.manuf.errors }" />
                                  <div *ngIf="submitted && f.manuf.errors" class="invalid-feedback">
                                        <div *ngIf="f.manuf.errors.required">Field is required</div>
                                  </div>
                               </div>
                         </div> 
                        <div class="col-sm-6">
                            <div class="form-group">
                                  <label>Price</label>
                                  <input type="text" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                                  <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                        <div *ngIf="f.price.errors.required">Field is required</div>
                                  </div>
                               </div>
                         </div> 
                         
                         <div class="col-sm-6">
                            <div class="form-group">
                                  <label>Quantity</label>
                                  <input type="text" formControlName="qty" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.qty.errors }" />
                                  <div *ngIf="submitted && f.qty.errors" class="invalid-feedback">
                                        <div *ngIf="f.qty.errors.required">Field is required</div>
                                  </div>
                               </div>
                         </div> 
                        </div>
             <div class="col-sm-6 ">
             <button type="submit"  class="btn btn-primary" [disabled]="formRef.invalid" >Submit</button>
             </div>
             <div class="col-sm-6 ">
             <button type="button" class="btn btn-dark"  (click) = "back()">Close</button>
            </div>
                </form>
      
      </div>
    </div>
  </div>
  </div>